* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.content {
  padding: 1em;
  width: 100%;
}

.upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.table-container {
  overflow-y: auto;
  margin-left: 0;
  margin-bottom: 50px;
  border: 1px solid #d7d7d7;
  width: 100%;
  height: 100vh;
}

.search-container {
  position: sticky;
  top: 0;
  width: 50%;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: 1px solid #0a0a0a;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 60%;
  padding: 7px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

thead {
  position: sticky;
  top: 0;
  border-top: 0;
}

.scan-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  margin: 0;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: rgb(61, 165, 35);
  margin-top: 10px;
}

th {
  background-color: rgb(68, 185, 39);
  color: white;
}

button {
  cursor: pointer;
  border: 0;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: #0001b0;
  background-color: rgba(104, 85, 224, 1);
}

.btn {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: #0059b0;
}

p {
  margin-left: 10px;
}