* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 150vh;
  max-width: 100%;
}

.content {
  padding: 1em;
}

.upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;
}

.container {
  overflow-y: auto;
  margin-left: 0;
  margin-bottom: 50px;
  border: 1px solid #d7d7d7;
}

.search-container {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border: 1px solid #0a0a0a;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.btn {
  background-color: rgb(61, 165, 35);
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.text-center {
  text-align: center;
}

input {
  width: 40%;
  padding: 7px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

thead {
  position: sticky;
  top: 0;
  border-top: 0;
}

.scan-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.scan-btn-container {
  width: 200px;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: rgb(61, 165, 35);
  margin-top: 10px;
}

th {
  background-color: rgb(61, 165, 35);
  color: white;
}