.header {
    background-image: linear-gradient(to bottom right, #0026b0, #0064b0, #0093b0);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    width: 100%;
    
  }

  .text-center {
    text-align: center;
    font-size: 30px;
    max-width: 100%;
    width: 95%;
  }
  
  a {
    cursor: pointer;
    padding: 0 20px 0 0;
    color: white;
  }
  
  