.header {
    background-image: linear-gradient(to bottom right, #59b000, #01b000, #00b057);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    width: 100%;
  }
  
  a {
    cursor: pointer;
    padding: 0 20px 0 0;
    color: white;
  }
  
  button {
    cursor: pointer;
    border: 0;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
  }
  
  button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: #0059b0;
  }
  
  .header div {
    display: flex;
    align-items: center;
  }
  