<div class="container">
  <div class="login-form">
    <h1>DataShift</h1><br><br>
    <h2>Login</h2>
    <form class="frm" [formGroup]="data" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="txtlabel" for="userId">User ID:</label>
        <input class="txtlabel" type="text" id="userId" formControlName="userId" required />
      </div>
      <br>
      <div class="form-group">
        <label class="txtlabel" for="password">Password:</label>
        <input class="txtlabel" type="password" id="password" formControlName="password" required />
      </div><br><br>
      <button class="btn" type="submit" class="btn">Login</button><br><br>
      <p>Register an account</p>
      <a (click)="onRegister()">Register here >></a>
    </form>
  </div>
</div>
