<div *ngIf="isLoading">Loading...</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<button (click)="navigateToHome()">Go to Upload a File</button>
<table *ngIf="!isLoading && !errorMessage">
  <thead>
    <tr>
      <th class="control-id-col">Control Id</th>
      <th class="control-name-col">Control Name</th>
      <th class="control-name-col">Control Description</th>
      <th class="evidence-col">Evidence</th>
      <th class="remarks-col">Remarks</th>
      <th class="status-col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredData">
      <td class="control-id-col">{{ item.controlId }}</td>
      <td class="control-name-col">{{ item.controlName }}</td>
      <td class="control-description-col">{{ item.controlDescription }}</td>
      <td class="evidence-col">{{ item.evidence }}</td>
      <td class="remarks-col">{{ item.remarks }}</td>
      <td class="status-col">{{ item.status }}</td>
    </tr>
  </tbody>
</table>
