<app-header></app-header>
<div class="content-container">
  <button class="btn" (click)="navigateToHome()">Home</button>
  <button (click)="navigateToMain()">Results</button>
  <h1 class="text-center">Extracted Data from PDF File</h1>
  <div class="search-container">
    <div class="container-bar">
      <input
        type="text"
        matInput
        (keyup)="searchData(filter.value)"
        placeholder="Search..."
        type="text"
        #filter
      />
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="table-header control-id-col">Control Id</th>
          <th class="table-header control-name-col">Control Name</th>
          <th class="table-header document-name-col">Document Name</th>
          <th class="table-header page-number-col">Page Number</th>
          <th class="table-header keywords-col">Keywords</th>
          <th class="table-header evidence-col">Evidence</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredData">
          <td class="control-id-col">{{ item.controlId }}</td>
          <td class="control-name-col">{{ item.controlName }}</td>
          <td class="document-name-col">{{ item.documentName }}</td>
          <td class="page-number-col">{{ item.pageNumber }}</td>
          <td class="keywords-col">{{ item.keywords }}</td>
          <td class="evidence-col">{{ item.evidence }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
