<div class="container">
  <div *ngIf="modalData">
    <h2>Extracted Data</h2>
    <p><strong>Control ID:</strong> {{ modalData.controlId }}</p>
    <p><strong>Document Name:</strong> {{ modalData.documentName }}</p>
  </div>

  <div *ngIf="groupedData">
    <div *ngFor="let pageKeyword of groupedData.pageKeywords">
      <h4>Keyword: {{ pageKeyword.keyword }}</h4>
      <ul>
        <li *ngFor="let page of pageKeyword.pages">Page: {{ page }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="!modalData && !groupedData">
    <p>No data available.</p>
  </div>
</div>
