<div class="table-container">
    <div class="d-flex justify-content-end align-items-center mb-3">
        <div class="d-flex align-items-center" style="width: 100%">
            <h4 class="mb-0" style="color: white; height: 100%">
                <strong
                    style="
                        background-color: #2d8bf0;
                        padding: 12px 20px;
                        border-radius: 50%;
                    "
                    >{{ userFirstName }}</strong
                >
            </h4>
            <div
                class="input-group custom-search-bar"
                style="width: 70%; margin-left: 50px"
            >
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search ..."
                    aria-label="Search"
                    [(ngModel)]="searchText"
                />
                <button class="btn btn-primary" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <button class="pdf-scan-btn me-2 text-nowrap" (click)="openDialog()">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Scan PDF File
        </button>
        <button
            class="btn btn-outline-secondary text-nowrap"
            (click)="logout()"
        >
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </button>
    </div>

    <div class="tbl-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th class="text-nowrap">Control Number</th>
                    <th>Keyword</th>
                    <th>Page</th>
                    <th>Sentence</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (data of filteredData; track data.id) {
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.keyword }}</td>
                    <td>{{ data.page }}</td>
                    <td>{{ data.sentence }}</td>
                    <td class="text-nowrap">
                        <button
                            type="button"
                            class="btn btn-sm"
                            (click)="onEdit(data)"
                            style="padding: 5px 10px; margin: 5px"
                        >
                            <img
                                [src]="editIcon"
                                style="width: auto; height: 20px"
                                alt=""
                            />
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm"
                            (click)="onDelete(+data.id)"
                            style="padding: 5px 10px"
                        >
                            <img
                                [src]="deleteIcon"
                                style="width: auto; height: 20px"
                                alt=""
                            />
                        </button>
                    </td>
                </tr>
                } @if (filteredData.length === 0) {
                <tr>
                    <td colspan="5" class="no-data">No data available</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Modal to Update the data from the table -->
    <div
        class="modal fade"
        id="editTodoModal"
        tabindex="-1"
        aria-labelledby="editTodoModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            @if (editingData) {
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editTodoModalLabel">
                        Edit Data (ID: {{ editingData.id }})
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form
                        id="editForm"
                        #editForm="ngForm"
                        (ngSubmit)="onUpdate()"
                    >
                        <div class="mb-3">
                            <label for="keyword" class="form-label"
                                >Keyword</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="keyword"
                                name="keyword"
                                [(ngModel)]="editingData.keyword"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="page" class="form-label">Page</label>
                            <input
                                type="number"
                                class="form-control"
                                id="page"
                                name="page"
                                [(ngModel)]="editingData.page"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="sentence" class="form-label"
                                >Sentence</label
                            >
                            <textarea
                                class="form-control"
                                id="sentence"
                                name="sentence"
                                rows="4"
                                [(ngModel)]="editingData.sentence"
                            ></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        type="submit"
                        form="editForm"
                        class="btn btn-primary"
                    >
                        Save changes
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
</div>
