<app-header></app-header>
<div class="content">
  <button (click)="navigateToMain()">Results</button>
  <button (click)="navigateToExtractedData()">Extracted Data</button>
  <button (click)="navigateToViewAllData()">View All Data</button>
  <button (click)="navigateToViewPdf()">View File</button>
  <div class="upload-container">
    <p>Upload PDF File to Scan:</p>
    <input
      type="file"
      (change)="onFileChange($event)"
      placeholder="Upload file"
    />
    <div class="scan-btn-container">
      <button class="btn btn-primary" (click)="uploadFile()">
        Scan the File
      </button>
      <p class="upload-message" *ngIf="uploadProgressMessage">
        {{ uploadProgressMessage }}
      </p>
      <div
        class="progress-bar"
        *ngIf="uploadMessage"
        [class.success]="isUploadSuccessful"
        [class.error]="!isUploadSuccessful"
      >
        {{ uploadMessage }}
      </div>
    </div>
  </div>
  <div class="keywords-container">
    <p type="button" class="keyword" (click)="openKeywordSidebarModal()">
      Add new keywords?
    </p>
  </div>
</div>
<div class="side-img-container">
  <footer class="app-footer">
    <p>&copy; {{ currentYear }} Mario Onor. All rights reserved.</p>
  </footer>
</div>
