<div class="container">
  <form>
    <h1>DataShift</h1>
    <div class="register-container">
      <div class="cntr name-container">
        <label>Name:</label>
        <input
          class="text"
          type="text"
          id="username"
          placeholder="Enter your name"
          formControlName="username"
        />
      </div>
      <br />
      <div class="cntr email-container">
        <label>Email:</label>
        <input
          class="text"
          type="email"
          id="email"
          placeholder="Enter your email"
          formControlName="userId"
        />
      </div>
      <br />
      <div class="cntr password-container">
        <label>Password:</label>
        <input
          class="text"
          type="password"
          id="password"
          placeholder="Enter your password"
          formControlName="password"
        />
      </div>
      <br />
      <button class="btn register-btn">Register</button>
    </div>
  </form>
</div>
